/*Hola*/

mark{
    color: blueviolet;
    background-color: black;
}
i{
    color: aquamarine;
}
p.p1{
    background-color: red;
    width: 10%;
}
p.p2{
    background-color: yellow;
    width: 10%;
}
p.p3{
    background-color: red;
    width: 10%;
}
p[class="p1 p3"]{
    text-transform: uppercase;
}

a:link{
    color: blue;
}
a:visited{
    color: yellow;
}
a{
    background-color: white;
    border: blue 2px solid;
    outline: red 2px solid;
}
a:hover{
    background-color: cadetblue;
    color: black;
}
a:active{
    background-color: red;
    color: yellow;
}
input:focus{
    border: red 2px dotted;
    padding: 2px;
    background-color: darkgreen;
}
q:lang(es) {
    quotes: '"';
    color: blue;
}
p::first-line{
    color: pink;
    text-transform: uppercase;
} 
pre{
    counter-reset: cuenta-parrafos;
}
p::before{
    content: counter(cuenta-parrafos, upper-roman)".";
    counter-increment: cuenta-parrafos;
    color: blue;
}