*{
    background-color: lightgrey;
    box-sizing: content-box;
}
.fixed-sidebar>img{
    width: 80px;
    height: 80px;
}
.fixed-sidebar{
    border: 5px black solid;
    width: 80px;
    height: 350px;
    padding: 2px;
    position: fixed;
    top: 250px;
    left: 5px;
}
.fixed-sidebar ul{
    list-style-type: none;
    padding-left: 1%;
    text-align: center;
}
.container{
    border: 1px black solid;
    width: 90%;
    height: 700px;
    margin: 20px auto;
    background-color: aquamarine;
}
nav{
    background-color: grey;
    padding: 5px;

}
.nav-item{
    padding-right: 300px;
    background-color: grey;   
    display: inline-block;
    color: white;
}