body{
    background-color: cadetblue;
}
li{
    list-style-type: upper-roman;
}
li.L0{
    text-decoration: underline;
    width: 5%;
    color: green;
    background-color: yellow;
}
li.L1{
    width: 10%;
    color: red;
    background-color: black;
}
li.L2{
    box-sizing: content-box;
    width: 9.5%;
    color: brown;
    background-color: chocolate;
}
li.L3{
    width: 6%;
    color: RED;
    background-color: white;
}
li.L4{
    width: 11%;
    color: brown;
    background-color: pink;
}
li.L5{
    width: 7%;
    color: Yellow;
    background-color: green;
}
ol.Lista{
    width: 17%;
    color: rgba(3, 192, 250, 0.568);
    background-color: rgb(48, 20, 66);
}
ul.ul{
    color: rgb(16, 106, 112);
    background-color:rgb(0, 252, 63);
    width: 18%;
}